body {
  overflow: hidden;
  font-family: Arial;
  background: #fff;
  &.black {
    background: #000;
    color: #fff;
    #back,#next,#speak {
      color: #fff;
      border-color: #fff;
      &:hover {
        background: #888;
        color: #000;
      }
    }
  }
}
#back, #next {
  display: none;
  text-decoration: none;
  position: fixed;
  height: 80vh;
  width: 10vw;
  bottom: 0;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  
  &.small {
    height: 30vh;
    width: 8vw;
    .link {
      top: calc(15vh - 5px - 2vw);
    }
  }
  &.huge {
    width: 15vw;
  }
  
  .link {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: calc(40vh - 5px - 2vw);
    font-size: 4vh;
    
    img {
      padding-bottom: 10px;
      width: 5vw;
      height: 5vw;
    }
  }
}
#back:hover, #next:hover, #speak:hover {
  background: #000;
  color: #fff;
}
#back {
  left: 0;
}
#next {
  right: 0;
}
#settings {
  position: absolute;
  top: 0;
  right: 0;
  width: 10vw;
  height: 10vh;
  padding: 10px;
  img {
    width: calc(10vw - 10px);
    height: calc(10vh - 10px);
    object-fit: contain;
    object-position: center;
  }
}
#title {
  position: absolute;
  top: 5vh;
  left: 10vw;
  right: 10vw;
  height: 15vh;
  font-size: 7.5vh;
  text-align: center;
  font-weight: bold;
}
#author {
  position: absolute;
  top: 20vh;
  left: 5vw;
  right: 5vw;
  height: 5vh;
  font-size: 4vh;
  text-align: center;
}
#cover {
  position: absolute;
  top: 25vh;
  left: 15vw;
  right: 15vw;
  height: 55vh;
  text-align: center;
    
  img {
    max-width: 70vw;
    max-height: 55vh;
  }
}
#image {
  position: absolute;
  top: 20vh;
  left: 15vw;
  right: 15vw;
  height: 55vh;
  text-align: center;
  
  img {
    width: 100%;
    height: 55vh;
    object-fit: contain;
    object-position: center;
  }
  &.double {
    right: 50vw;
  }
}
#image2 {
  position: absolute;
  top: 20vh;
  left: 50vw;
  right: 15vw;
  height: 55vh;
  text-align: center;
  
  img {
    width: 100%;
    height: 55vh;
    object-fit: contain;
    object-position: center;
  }
}
#text {
  position: absolute;
  top: 77vh;
  left: 15vw;
  right: 15vw;
  height: 23vh;
  font-size: 5vh;
  text-align: center;
  
  a {
    display: block;
    color: #888;
    font-size: 14px;
  }
}
#speak {
  display: none;
  position: absolute;
  top: 0;
  right: 30vw;
  left: 30vw;
  height: 15vh;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;
  font-size: 5vh;
  line-height: 15vh;
  color: #000;
  text-decoration: none;
}
body.text_above {
  #image, #image2 {
    top: 25vh;
  }
  #text {
    top: 2.5vh;
  }
  #speak {
    top: 84vh;
  }
}
#loading {
  position: absolute;
  top: 40vh;
  left: 0vw;
  right: 0vw;
  text-align: center;
  font-size: 5vh;
  opacity: 0;
  animation: appear-after-delay 1s forwards;
}
/* Don't flash a loading message unless there's actually a delay */
@keyframes appear-after-delay {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.option {
  text-decoration: none;
  color: #444;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
  &.active {
    background: #444;
    color: #eee;
  }
  &.up {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 30px;
    width: 30px;
    text-align: center;
  }
  &.down {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 30px;
    width: 30px;
    text-align: center;
  }
}
#settings_box {
  color: #000;
  position: absolute;
  z-index: 2;
  top: 10vh;
  left: 10vw;
  right: 10vw;
  background: #fff;
  border: 3px solid #888;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #000;
  .settings_box_scroll {
    overflow: auto;
    height: 80vh;
  }
  .settings_box_inner {
    padding: 20px;
  }
  table td {
    font-size: 20px;
    height: 50px;
    &.label {
      padding-right: 10px;
    }
  }
}
